/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset */


@font-face{
  src: url(fonts/Inter-Regular.otf);
  font-family: inter;
}

@font-face{
  src: url(fonts/Inter-Light-BETA.otf);
  font-family: inter_light;
}

*{
  margin: 0;
  padding: 0;
}

body{
  height: 1053px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  ". header ."
  ". main ."
  ". footer .";
}

header{
  grid-area: header;
  grid-column: 1 / span 3;
  width: 100%;
  background-color: white;
}

main{
  grid-area: main;
  width: 100%;
  margin-bottom: 166px;
  background-color: white;
}


footer{
  grid-area: footer;
  grid-column: 1 / span 3;
  height: 100%;
  width: 100%;
  background-color: white;
}

.banner_case_study_wrap{
  margin-top: 0px;
}

section{
  font-family: inter;
  margin-top: 40px;
  margin-bottom: 40px;
}


.navbar{
  display: flex;
  justify-content: space-between;
}

.logo{
  float: left;
  font-family: inter;
  font-size: 20px;
  padding-left: 58px;
}

.nav{
  float: left;
  padding-right: 76px;
  margin: 0;
}

.logo, .nav{
  padding-top: 59px;
}

.nav > li{
  display: inline;
  font-family: inter;
  font-size: 20px;
}

.nav > li:first-child{
  padding-right: 50px;
}

.nav > li > a {
  text-decoration: none;
  color: black;
}

.navbar > .logo > a{
	text-decoration: none;
	color: black;
}

.hero{
  margin: 0 auto;
  width: 90%;
  margin-top: 103px;
  background-color: white;
}

.hero > h2 {
  font-family: inter;
  font-size: 20px;
  line-height: 236.5%;
    font-weight: normal;
}

.section_code{
  vertical-align: top;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 50%;
  background-color: white;
}

.homepage_img_case_study{
  width: 100%;
  margin-top: 91px;
}

.homepage_caption{
  margin-top: 9px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
  grid-template-areas:
  "title1 text1";
}

.homepage_caption > h2 {
  grid-area: title1;
  grid-column: 1;
  grid-row: 1;
  font-family: inter_light;
  font-size: 20px;
}

.homepage_caption_text {
  grid-area: text1;
  grid-column: 2;
  grid-row: 1;
  font-family: inter_light;
  font-size: 12px;
  line-height: 18.5px;
  padding-top:6px;
}

.homepage_caption_text > p:nth-child(2){
  text-decoration: underline;
  color: #1E33EC;
}

footer > p {
  font-family: inter;
  font-size:  15px;
  text-align: center;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 28px;
}

.button{
  padding-top: 10px;
  text-align: center;
  display:table-cell;
  width: 137.31px;
  height: 23.94px;
  text-decoration: none;
  border-radius: 20px;
  background-color: #709EF0;
  color: white;
  font-family: inter_light;
  font-size: 12px;
  margin-bottom: 28px;
}

.contact_icons > a {
  font-family: inter;
  font-size: 20px;
  margin-left: 10px;

}

.contact_icons > i {
  font-size: 30px;
  color: #808080;
}

.contact_icons > i:nth-child(2) {
  margin-left: 10px;
}

.contact_icons {
  margin-left: 5%;
  margin-bottom: 1%;
}

.banner_case_study{
  all: unset;
  width: 100%;
  margin-top: 146px;
}

.banner_case_study_mobile{
  display: none;
  width: 100%;
  margin-top: 146px;
}

.img_adjust1 {
  width: 55%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.img_adjust2 {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.img_adjust3 {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.img_adjust4 {
  width: 55%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.center_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  background: white;
}

.persona_img{
  display: grid;
  grid-template-columns: 20em 20em;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "img1_placement img2_placement"
  "text1_placement text2_placement"
  "text3_placement text4_placement"
  "text5_placement text6_placement"
  ;
  column-gap: 1em;
  grid-row-gap: .3em;
}

.img_adjust5{
  grid-area: img1_placement;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}

.img_adjust6{
  grid-area: img3_placement;
  grid-column: 2;
  grid-row: 1;
  width: 100%;
}

.img_adjust5_text{
  grid-area: text1_placement;
  grid-column: 1;
  grid-row: 2;
  word-wrap: break-word;
  font-size: 13px;
}

.img_adjust6_text{
  grid-area: text3_placement;
  grid-column: 1;
  grid-row: 3;
  word-wrap: break-word;
  font-family: inter_light;
  font-size: 13px;
}

.img_adjust7_text{
  grid-area: text5_placement;
  grid-column: 1;
  grid-row: 4;
  word-wrap: break-word;
  font-family: inter_light;
  font-size: 13px;
}

.img_adjust8_text{
  grid-area: text2_placement;
  grid-column: 2;
  grid-row: 2;
  word-wrap: break-word;
  font-size: 13px;
}

.img_adjust9_text{
  grid-area: text4_placement;
  grid-column: 2;
  grid-row: 3;
  word-wrap: break-word;
  font-family: inter_light;
  font-size: 13px;
}

.img_adjust10_text{
  grid-area: text6_placement;
  grid-column: 2;
  grid-row: 4;
  word-wrap: break-word;
  font-family: inter_light;
  font-size: 13px;
}

.font_regular{
  font-family: inter;
}

main > section:nth-child(1) > p {
  font-size: 17px;
}

main > section > h2{
  font-size: 18px;
}

.margin_at_top{
  margin-top: 30px;
}

.margin_at_bottom{
  margin-bottom: 30px;
  background: white;
}


main > section > p {
  font-size: 14px;
  margin-top: 30px;
  font-family: inter_light;
  color: #373737;
	line-height: 145%;
}

main > section > a {
  font-size: 13px;
}

hr{
  border: none;
  height: .5px;
  color: #E1E1E1;
  background-color: #E1E1E1;
}

.conclusion_list{
  all: unset;
  font-family: inter_light;
  font-size: 14px;
}

.conclusion_list > p {
  margin-top: 30px;
	line-height: 145%;
}

.conclusion_list > p:first-child {
  margin-bottom: 30px;
}

.conclusion_list > li {
  margin-top: 10px;
	line-height: 145%;
}

.indent{
  margin-left: 20px;
}

.indent_2{
  margin-left: 50px;
}

.bars{
  display: none;
}

.toggle{
  display: none;
}

.about_me_bio{
  vertical-align: top;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 50%;
  background-color: white;
}

.alex_pic{
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.alex_pic2{
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: none;
}

.about_me_bio > h2{
  margin-top: 30px;
  color: black;
}

.exp_bio1{
  margin-top: 20px;
}

.exp_bio2{
  font-style: italic;
  margin:0;
}

.skills_bio{
  line-height: 25px;
}

.light_blue{
  color: ;
}

h1 {
  font-weight: normal;
}

@media only screen and (max-width: 768px) {

  main{
    width: 100%;
    font-size: 20px;
    background-color: white;
  }

  .section_code{
    width: 70%;
  }

  .homepage_caption{
    grid-template-columns: 30% 70%;
  }

  .persona_img{
    grid-template-columns: auto auto;
  }

  .toggle{
    display: none;
  }

  .about_me_bio{
    width: 70%;
  }

}

@media only screen and (max-width: 376px) {

  body{
    grid-template-columns: 5% 90% 5%;
  }

  main{
    width: 100%;
    font-size: 20px;
    background-color: white;
  }

  .nav > li{
    display: none;
  }

  .nav{
    padding-right: 0;
  }

  .navbar{
    margin: 0;
    height: 66px;
    background-color: white;
  }

  .bars{
    display : flex;
    padding-top: 16.5px;
    padding-right: 20px;
    color: blue;
  }


  .logo{
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .logo, .nav{
    padding-top: 0px;
  }

  .section_code{
    width: 100%;
  }

  .homepage_caption_text {
    grid-column: 1 / span 2;
    grid-row: 2;
    font-size: 16px;
    line-height: 23.5px;
  }

  footer > p {
    font-size:  26px;
  }

  .button{
    padding-top: 8px;
    text-align: middle;
    width: 90%;
    height: 35px;
    border-radius: 10px;
    background-color: #709EF0;
    color: white;
    font-family: inter_light;
    font-size: 20px;
  }

  .persona_img{
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "img1_placement"
    "img2_placement"
    "text1_placement text2_placement"
    "text3_placement text4_placement"
    "text5_placement text6_placement";
    grid-row-gap: .3em;
  }

  .img_adjust5{
    grid-area: img1_placement;
    grid-column: 1;
    width: 100%;
  }

  .img_adjust6{
    grid-area: img3_placement;
    grid-column: 1;
    width: 100%;
  }

  .img_adjust5_text{
    grid-area: text1_placement;
    grid-column: 1;
    grid-row: 2;
    word-wrap: break-word;
    font-size: 13px;
  }

  .img_adjust6_text{
    grid-area: text3_placement;
    grid-column: 1;
    grid-row: 3;
    word-wrap: break-word;
    font-family: inter_light;
    font-size: 13px;
  }

  .img_adjust7_text{
    grid-area: text5_placement;
    grid-column: 1;
    grid-row: 4;
    word-wrap: break-word;
    font-family: inter_light;
    font-size: 13px;
  }

  .img_adjust8_text{
    grid-area: text2_placement;
    grid-column: 1;
    grid-row: 7;
    word-wrap: break-word;
    font-size: 13px;
  }

  .img_adjust9_text{
    grid-area: text4_placement;
    grid-column: 1;
    grid-row: 8;
    word-wrap: break-word;
    font-family: inter_light;
    font-size: 13px;
  }

  .img_adjust10_text{
    grid-area: text6_placement;
    grid-column: 1;
    grid-row: 9;
    word-wrap: break-word;
    font-family: inter_light;
    font-size: 13px;
  }

  .banner_case_study{
    display: none;
    width: 100%;
    margin-top: 146px;
  }

  .banner_case_study_mobile{
    all: unset;
    width: 100%;
  }

  main > section:nth-child(1) > p {
    font-size: 17px;
  }

  main > section > h2{
    font-size: 28px;
  }

  main > section > p {
    font-size: 17px;
    margin-top: 30px;
    font-family: inter_light;
    color: #373737;
  }

  main > section > a {
    font-size: 17px;
  }

  .img_adjust1 {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .img_adjust2 {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .img_adjust4 {
    width: 80%;
  }

  .toggle{
    position: absolute;
    width: 100%;
    margin: 0;
    display: block;
    font-family: inter;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 15px;
    display: none;
    background-color: #F2F2F2;
  }

  .toggle > p:last-child {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .toggle > p > a{
    text-decoration: none;
    color: black;
  }

  .active{
    display: block;
  }

  .about_me_bio{
    width: 100%;
  }

  .alex_pic{
    display: none;
  }

  .alex_pic2{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: block;
  }

  .about_me_bio > h2:first-child{
    margin-top: 0;
  }

}
